input{
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #9CA3AF;
  -webkit-text-size-adjust: 20px;
  font-weight: 500;
}&:-webkit-autofill{
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #9CA3AF;
  -webkit-text-size-adjust: 20px;
  font-weight: 100;
}
&:-webkit-autofill:hover{
  -webkit-text-fill-color: #9CA3AF;
  -webkit-text-size-adjust: 20px;
  font-weight:100;
}; 
&:-webkit-autofill:focus{
  -webkit-text-fill-color: #9CA3AF;
  -webkit-text-size-adjust: 20px;
  font-weight: 100;
};
&:-webkit-autofill:active {
   transition: background-color 5000s ease-in-out 0s !important;
   -webkit-text-fill-color: #9CA3AF;
   -webkit-text-size-adjust: 20px;
   font-weight:100;
};